.join {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 56px);
  .joinArea {
    padding-top: 24px;
    .joinHeader {
      display: block;
      font-weight: 800;
      font-size: 24px;
      ~ form {
        padding-top: 24px;
      }
    }
  }
}
