.postAdd {
  display: flex;
  padding: 40px 0px;
  flex-direction: column;
  align-items: center;

  .container {
    display: flex;
    padding: 0px 24px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;

    .publish {
      display: flex;
      padding-bottom: 32px;
      align-items: flex-start;
      gap: 24px;
      flex: 1 0 0;
      align-self: stretch;

      img {
        width: 48px;
        height: 48px;
        border-radius: 100%;
      }

      .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        flex: 1 0 0;
        align-self: stretch;
        font-size: 20px;
        font-weight: 700;

        .contentBody {
          display: flex;
          padding: 15px 0 617px 16px;
          flex-direction: column;
          align-items: center;
          flex: 1 0 0;
          align-self: stretch;
          border-radius: 6px;
          border: 1px solid #E0E0E0;
        }
      }
    }

    .action {
      display: flex;
      padding-top: 24px;
      justify-content: space-between;
      align-items: flex-start;
      align-self: stretch;
      border-top: 1px solid #E6E6E6;

      Button {
        display: flex;
        width: 120px;
        height: 56px;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        font-size: 18px;
        font-weight: 800;
      }

      .cancelBtn {
        background-color: white;
        color: #2D71F7;
        border: 1px solid #2D71F7;
      }

      .postBtn {
        background-color: #2D71F7;
        border: none;
        color: white;
      }

    }
  }
}