// @import '../../styles/variable.scss';

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // @include flexSort(column, center, center);

  .logo-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // @include flexSort(column, center, center);
    width: 450px;
    height: 300px;
    margin: 0 auto 50px auto;
  }

  .email-password {
    display: flex;
    flex-direction: column;
    width: 480px;

    .input {
      border: 1px solid #eeeeee;
      margin: 3px;
      padding: 10px;
      height: 15px;
      border-radius: 5px;
    }

    .loginbtn {
      border: none;
      background-color: #2d71f7;
      color: white;
      font-weight: bold;
      margin: 10px 5px 5px 5px;
      height: 35px;
      border-radius: 5px;
      cursor: pointer;
    }

    .loginbtn-access {
      border: none;
      background-color: #56ad7e;
      color: white;
      font-weight: bold;
      margin: 10px 5px 5px 5px;
      height: 35px;
      border-radius: 5px;
      cursor: pointer;
    }

    &:active {
      opacity: 0.8;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  // @include flexSort(row, 0, 0);
  margin-top: 5px;

  .btn {
    border: none;
    background-color: white;
    font-size: 10px;
    cursor: pointer;
  }

  div {
    font-weight: lighter;
    color: #eeeeee;
    margin: 0 15px 0 15px;
  }
}