@import '../../scss/variables';

.list {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .listArea {
    height: calc(100vh - 20vh);
    overflow-y: auto;
    padding-top: 16px;

    .listItem {
      padding: 24px 8px;
      border-bottom: 1px solid $gray90;

      .threadArea {
        display: flex;
        flex-direction: column;

        .threadTop {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .threadProfile {
            display: flex;
            align-items: center;
          }

          img {
            display: block;
            width: 48px;
            height: 48px;
            border: 1px solid $gray88;
            border-radius: 50%;
          }

          .threadName {
            display: block;
            margin-left: 16px;
            font-weight: 700;
            font-size: 20px;
          }

          .threadDate {
            span {
              color: $grey60;
            }
          }
        }

        .threadBody {
          padding-top: 16px;

          .threadText {
            font-size: 20px;
            line-height: 28px;
          }
        }

        .threadFooter {
          padding-top: 16px;

          .threadComment {
            color: $grey60;
          }
        }
      }
    }
  }

  .contentFooter {
    height: 100%;
    padding-top: 24px;
  }
}
